In [3]:
import pandas as pd

df = pd.read_csv('./data.csv')

df.columns

Index(['Sr No', 'UID', 'Student Name', 'Email ID', 'Project Title', 'Domain',
       'Project Guide', 'Field/Market Survey & Literature Survey (10)',
       'Problem Definition (5)', 'Presentation (10)', 'Project Planning (5)',
       'Phase 1 marks',
       'Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD)',
       '70% Project Implementaion (20)', 'Ethics', 'Team Work (5)',
       'Presentation(5)', 'Phase 2 marks', 'Presentation (10).1',
       'Implementation', 'Project Report (10)', 'Phase 3 marks', 'ESE marks',
       'Unnamed: 23'],
      dtype='object')

In [4]:
df.isnull().sum()

Sr No                                                                            0
UID                                                                              0
Student Name                                                                     0
Email ID                                                                         0
Project Title                                                                    0
Domain                                                                           0
Project Guide                                                                    0
Field/Market Survey & Literature Survey (10)                                     0
Problem Definition (5)                                                           0
Presentation (10)                                                                0
Project Planning (5)                                                             0
Phase 1 marks                                                                    0
Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD)      0
70% Project Implementaion (20)                                                   0
Ethics                                                                           0
Team Work (5)                                                                    0
Presentation(5)                                                                  0
Phase 2 marks                                                                    0
Presentation (10).1                                                              0
Implementation                                                                   0
Project Report (10)                                                              0
Phase 3 marks                                                                    0
ESE marks                                                                        0
Unnamed: 23                                                                    308
dtype: int64

In [5]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)

In [6]:
df.head()

,Sr No,UID,Student Name,Email ID,Project Title,Domain,Project Guide,Field/Market Survey & Literature Survey (10),Problem Definition (5),Presentation (10),...,70% Project Implementaion (20),Ethics,Team Work (5),Presentation(5),Phase 2 marks,Presentation (10).1,Implementation,Project Report (10),Phase 3 marks,ESE marks
0,1,2021300040,Prakhar Gupta,prakhar.gupta@spit.ac.in,Chronic disease detection and cure,Machine Learning,Prof. Anand Godbole,10,4,8,...,17,5,5,5,36,8,10,9,27,82
1,1,2021300033,Parth Gandhi,parth.gandhi2@spit.ac.in,Chronic disease detection and cure,Machine Learning,Prof. Anand Godbole,8,4,10,...,20,4,4,4,36,10,8,9,27,82
2,1,2021300031,Shaun D'Souza,shaun.dsouza@spit.ac.in,Chronic disease detection and cure,Machine Learning,Prof. Anand Godbole,8,5,8,...,20,4,4,4,36,8,8,10,27,82
3,2,2021300023,ameya dabholkar,ameya.dabholkar@spit.ac.in,Dieses detection using Image classification & ...,"Machine Learning, OpenCV",Prof. Rupali sawant,8,5,9,...,18,4,5,5,38,10,9,8,27,81
4,2,2021300025,vedant deshmukh,vedant.deshmukh@spit.ac.in,Dieses detection using Image classification & ...,"Machine Learning, OpenCV",Prof. Rupali sawant,9,5,9,...,18,5,4,5,38,10,8,9,27,81

In [7]:
df.isnull().sum()

Sr No                                                                          0
UID                                                                            0
Student Name                                                                   0
Email ID                                                                       0
Project Title                                                                  0
Domain                                                                         0
Project Guide                                                                  0
Field/Market Survey & Literature Survey (10)                                   0
Problem Definition (5)                                                         0
Presentation (10)                                                              0
Project Planning (5)                                                           0
Phase 1 marks                                                                  0
Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD)    0
70% Project Implementaion (20)                                                 0
Ethics                                                                         0
Team Work (5)                                                                  0
Presentation(5)                                                                0
Phase 2 marks                                                                  0
Presentation (10).1                                                            0
Implementation                                                                 0
Project Report (10)                                                            0
Phase 3 marks                                                                  0
ESE marks                                                                      0
dtype: int64

In [8]:
ab_count = df.isin(["AB"]).sum().sum()
ab_rows = df[df.isin(["AB"]).any(axis=1)]

index = df.isin(["AB"]).any(axis=1).index
index
df.drop(index)

Empty DataFrame
Columns: [Sr No, UID, Student Name, Email ID, Project Title, Domain, Project Guide, Field/Market Survey & Literature Survey (10), Problem Definition (5), Presentation (10), Project Planning (5), Phase 1 marks, Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD), 70% Project Implementaion (20), Ethics, Team Work (5), Presentation(5), Phase 2 marks, Presentation (10).1, Implementation, Project Report (10), Phase 3 marks, ESE marks]
Index: []

[0 rows x 23 columns]

In [9]:
import sqlite3

conn = sqlite3.connect("project.db")  # Create or connect to the database file

In [10]:
df.to_sql("projects", conn, index=False)  # 'projects' is the table name

ValueError: Table 'projects' already exists.

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM projects LIMIT 5")  # Fetch the first 5 rows
print(cursor.fetchall())

# 5. Close the database connection
conn.close()

[(1, 2021300040, 'Prakhar Gupta', 'prakhar.gupta@spit.ac.in', 'Chronic disease  detection and cure', 'Machine Learning', 'Prof. Anand Godbole ', '10', '4', '8', '0', '27', '4', '17', '5', '5', '5', '36', '8', '10', '9', '27', '82'), (1, 2021300033, 'Parth Gandhi', 'parth.gandhi2@spit.ac.in', 'Chronic disease  detection and cure', 'Machine Learning', 'Prof. Anand Godbole ', '8', '4', '10', '1', '27', '5', '20', '4', '4', '4', '36', '10', '8', '9', '27', '82'), (1, 2021300031, "Shaun D'Souza", 'shaun.dsouza@spit.ac.in', 'Chronic disease  detection and cure', 'Machine Learning', 'Prof. Anand Godbole ', '8', '5', '8', '4', '27', '4', '20', '4', '4', '4', '36', '8', '8', '10', '27', '82'), (2, 2021300023, 'ameya dabholkar', 'ameya.dabholkar@spit.ac.in', 'Dieses detection using Image classification & Deep learning', 'Machine Learning, OpenCV', 'Prof. Rupali sawant', '8', '5', '9', '0', '28', '5', '18', '4', '5', '5', '38', '10', '9', '8', '27', '81'), (2, 2021300025, 'vedant deshmukh', 'vedant.deshmukh@spit.ac.in', 'Dieses detection using Image classification & Deep learning', 'Machine Learning, OpenCV', 'Prof. Rupali sawant', '9', '5', '9', '4', '28', '4', '18', '5', '4', '5', '38', '10', '8', '9', '27', '81')]

In [ ]:
domains = df['Domain'].str.split(',').explode().str.strip()

In [ ]:
domains_counts = domains.value_counts()
domains_counts

Domain
Machine Learning    209
Web Development     129
OpenCV               66
App Development      39
NLP                  30
Web Scraping         15
Blockchain           12
IoT                   6
Name: count, dtype: int64

In [ ]:
def get_branch(uid):
    fifth_digit = str(uid)[4]
    if fifth_digit == '3':
        return 'COMPS'
    elif fifth_digit == '6':
        return 'AIML'
    else:
        return 'DS'

In [ ]:
df['Branch'] = df['UID'].apply(get_branch)
branch_domain_counts = (
    df['Domain'].str.split(',').explode().str.strip()
    .groupby(df['Branch'])
    .value_counts()
)
branch_domain_counts

Branch  Domain
AIML    Machine Learning    61
        Web Development     26
        OpenCV              16
        NLP                 12
        App Development      6
        IoT                  3
        Web Scraping         3
COMPS   Machine Learning    90
        Web Development     67
        App Development     27
        OpenCV              27
        NLP                  9
        Web Scraping         9
        Blockchain           6
        IoT                  3
DS      Machine Learning    58
        Web Development     36
        OpenCV              23
        NLP                  9
        App Development      6
        Blockchain           6
        Web Scraping         3
Name: count, dtype: int64

In [11]:
guide_domain_counts = (
    df['Domain'].str.split(',').explode().str.strip()
    .groupby(df['Project Guide'])
    .value_counts()
)

In [12]:
guide_domain_counts

Project Guide           Domain
Dr. Anant Nimkar        Machine Learning    15
                        Web Development      6
                        Blockchain           3
                        NLP                  3
                        OpenCV               3
                                            ..
Prof. Swapnali Kurhade  App Development      3
                        OpenCV               3
Prof. Varsha Hole       Machine Learning     9
                        NLP                  3
                        Web Development      3
Name: count, Length: 90, dtype: int64

In [13]:
df2 = pd.read_csv('./project_guide.csv')
df2['Domain Expertise'].str.split(',').str.strip().unique()

array([nan])

In [53]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

# Load the datasets
student_df = pd.read_csv("./data.csv")
faculty_df = pd.read_csv("./project_guide.csv")

# Preprocess the data
faculty_df['Domain Expertise'] = faculty_df['Domain Expertise'].str.replace(',', ' ')
student_df['ESE marks'] = pd.to_numeric(student_df['ESE marks'], errors='coerce')

# Calculate the average ESE marks for each faculty
faculty_ese = student_df.groupby('Project Guide')['ESE marks'].mean()

# Create a scoring system
vectorizer = CountVectorizer()
faculty_vectors = vectorizer.fit_transform(faculty_df['Domain Expertise'])
cosine_sim = cosine_similarity(faculty_vectors)

# Get the domains that the user is interested in
user_domains = ['blockchain technology']

# Transform the user_domains list into a vector
user_vector = vectorizer.transform([' '.join(user_domains)])

# Calculate the cosine similarity between the user_vector and the faculty vectors
# Calculate the cosine similarity between the user_vector and the faculty vectors
user_sim = cosine_similarity(faculty_vectors, user_vector)

# Flatten the user_sim array and create a Series with the faculty names as the index
domain_scores = pd.Series(user_sim.flatten(), index=faculty_df['Name of Faculty'])

# Normalize the domain scores and the ESE marks
scaler = MinMaxScaler()
domain_scores = pd.Series(scaler.fit_transform(domain_scores.values.reshape(-1, 1)).flatten(), index=faculty_df['Name of Faculty'])
faculty_ese = pd.Series(scaler.fit_transform(faculty_ese.values.reshape(-1, 1)).flatten(), index=faculty_ese.index)

# Calculate the final scores with 80% weight to domain expertise and 20% weight to ESE marks
scores = 0.8 * domain_scores + 0.2 * faculty_ese

# Get the top 5 faculty recommendations
top_5_recommendations = scores.sort_values(ascending=False).head(5)

print(top_5_recommendations)
# Get the top 5 faculty recommendations

Prof. Sheetal Chaudhari    0.976953
Prof. Renuka Pawar         0.721148
Prof. Varsha Hole          0.200000
Prof. Anand Godbole        0.198438
Prof. Jignesh Sisodia      0.182188
dtype: float64

In [52]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import joblib

# Load the datasets
student_df = pd.read_csv("./data.csv")
faculty_df = pd.read_csv("./project_guide.csv")

# Preprocess the data
faculty_df['Domain Expertise'] = faculty_df['Domain Expertise'].str.replace(',', ' ')
student_df['ESE marks'] = pd.to_numeric(student_df['ESE marks'], errors='coerce')

# Calculate the average ESE marks for each faculty
faculty_ese = student_df.groupby('Project Guide')['ESE marks'].mean()

# Create a scoring system
vectorizer = CountVectorizer()
faculty_vectors = vectorizer.fit_transform(faculty_df['Domain Expertise'])
cosine_sim = cosine_similarity(faculty_vectors)

# Train the model
scaler = MinMaxScaler()
domain_scores = pd.DataFrame(cosine_sim, index=faculty_df['Name of Faculty'], columns=faculty_df['Name of Faculty'])
domain_scores = domain_scores.groupby('Name of Faculty').mean()

# Normalize the domain scores and the ESE marks
faculty_ese = pd.Series(scaler.fit_transform(faculty_ese.values.reshape(-1, 1)).flatten(), index=faculty_ese.index)
scores = 0.8 * domain_scores + 0.2 * faculty_ese

# Save the model to a file
joblib.dump(scores, "faculty_recommendation_model.pkl")

# Load the model from the file
model = joblib.load("faculty_recommendation_model.pkl")