In [44]:
import pandas as pd

df = pd.read_csv('./data.csv')

df.columns

Index(['Sr No', 'UID', 'Student Name', 'Email ID', 'Project Title', 'Domain',
       'Project Guide', 'Field/Market Survey & Literature Survey (10)',
       'Problem Definition (5)', 'Presentation (10)', 'Project Planning (5)',
       'Phase 1 marks',
       'Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD)',
       '70% Project Implementaion (20)', 'Ethics', 'Team Work (5)',
       'Presentation(5)', 'Phase 2 marks', 'Presentation (10).1',
       'Implementation', 'Project Report (10)', 'Phase 3 marks', 'ESE marks',
       'Unnamed: 23'],
      dtype='object')

In [45]:
df.isnull().sum()

Sr No                                                                            0
UID                                                                              0
Student Name                                                                     0
Email ID                                                                         0
Project Title                                                                    0
Domain                                                                           0
Project Guide                                                                    0
Field/Market Survey & Literature Survey (10)                                     0
Problem Definition (5)                                                           0
Presentation (10)                                                                0
Project Planning (5)                                                             0
Phase 1 marks                                                                    0
Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD)      0
70% Project Implementaion (20)                                                   0
Ethics                                                                           0
Team Work (5)                                                                    0
Presentation(5)                                                                  0
Phase 2 marks                                                                    0
Presentation (10).1                                                              0
Implementation                                                                   0
Project Report (10)                                                              0
Phase 3 marks                                                                    0
ESE marks                                                                        0
Unnamed: 23                                                                    308
dtype: int64

In [46]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)

In [47]:
df.head()

,Sr No,UID,Student Name,Email ID,Project Title,Domain,Project Guide,Field/Market Survey & Literature Survey (10),Problem Definition (5),Presentation (10),...,70% Project Implementaion (20),Ethics,Team Work (5),Presentation(5),Phase 2 marks,Presentation (10).1,Implementation,Project Report (10),Phase 3 marks,ESE marks
0,1,2021300040,Prakhar Gupta,prakhar.gupta@spit.ac.in,Chronic disease detection and cure,Machine Learning,Prof. Anand Godbole,10,4,8,...,17,5,5,5,36,8,10,9,27,82
1,1,2021300033,Parth Gandhi,parth.gandhi2@spit.ac.in,Chronic disease detection and cure,Machine Learning,Prof. Anand Godbole,8,4,10,...,20,4,4,4,36,10,8,9,27,82
2,1,2021300031,Shaun D'Souza,shaun.dsouza@spit.ac.in,Chronic disease detection and cure,Machine Learning,Prof. Anand Godbole,8,5,8,...,20,4,4,4,36,8,8,10,27,82
3,2,2021300023,ameya dabholkar,ameya.dabholkar@spit.ac.in,Dieses detection using Image classification & ...,"Machine Learning, OpenCV",Prof. Rupali sawant,8,5,9,...,18,4,5,5,38,10,9,8,27,81
4,2,2021300025,vedant deshmukh,vedant.deshmukh@spit.ac.in,Dieses detection using Image classification & ...,"Machine Learning, OpenCV",Prof. Rupali sawant,9,5,9,...,18,5,4,5,38,10,8,9,27,81

In [40]:
df.isnull().sum()

Sr No                                                                          0
UID                                                                            0
Student Name                                                                   0
Email ID                                                                       0
Project Title                                                                  0
Domain                                                                         0
Project Guide                                                                  0
Field/Market Survey & Literature Survey (10)                                   0
Problem Definition (5)                                                         0
Presentation (10)                                                              0
Project Planning (5)                                                           0
Phase 1 marks                                                                  0
Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD)    0
70% Project Implementaion (20)                                                 0
Ethics                                                                         0
Team Work (5)                                                                  0
Presentation(5)                                                                0
Phase 2 marks                                                                  0
Presentation (10).1                                                            0
Implementation                                                                 0
Project Report (10)                                                            0
Phase 3 marks                                                                  0
ESE marks                                                                      0
dtype: int64

In [43]:
ab_count = df.isin(["AB"]).sum().sum()
ab_rows = df[df.isin(["AB"]).any(axis=1)]

index = df.isin(["AB"]).any(axis=1).index
index
df.drop(index)

Empty DataFrame
Columns: [Sr No, UID, Student Name, Email ID, Project Title, Domain, Project Guide, Field/Market Survey & Literature Survey (10), Problem Definition (5), Presentation (10), Project Planning (5), Phase 1 marks, Architecture,Design/Algorithm Testing/Simulation/ System Flow Diagram (DFD), 70% Project Implementaion (20), Ethics, Team Work (5), Presentation(5), Phase 2 marks, Presentation (10).1, Implementation, Project Report (10), Phase 3 marks, ESE marks]
Index: []

[0 rows x 23 columns]

In [48]:
import sqlite3

conn = sqlite3.connect("project.db")  # Create or connect to the database file

In [50]:
df.to_sql("projects", conn, index=False)  # 'projects' is the table name

309

In [51]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM projects LIMIT 5")  # Fetch the first 5 rows
print(cursor.fetchall())

# 5. Close the database connection
conn.close()

[(1, 2021300040, 'Prakhar Gupta', 'prakhar.gupta@spit.ac.in', 'Chronic disease  detection and cure', 'Machine Learning', 'Prof. Anand Godbole ', '10', '4', '8', '0', '27', '4', '17', '5', '5', '5', '36', '8', '10', '9', '27', '82'), (1, 2021300033, 'Parth Gandhi', 'parth.gandhi2@spit.ac.in', 'Chronic disease  detection and cure', 'Machine Learning', 'Prof. Anand Godbole ', '8', '4', '10', '1', '27', '5', '20', '4', '4', '4', '36', '10', '8', '9', '27', '82'), (1, 2021300031, "Shaun D'Souza", 'shaun.dsouza@spit.ac.in', 'Chronic disease  detection and cure', 'Machine Learning', 'Prof. Anand Godbole ', '8', '5', '8', '4', '27', '4', '20', '4', '4', '4', '36', '8', '8', '10', '27', '82'), (2, 2021300023, 'ameya dabholkar', 'ameya.dabholkar@spit.ac.in', 'Dieses detection using Image classification & Deep learning', 'Machine Learning, OpenCV', 'Prof. Rupali sawant', '8', '5', '9', '0', '28', '5', '18', '4', '5', '5', '38', '10', '9', '8', '27', '81'), (2, 2021300025, 'vedant deshmukh', 'vedant.deshmukh@spit.ac.in', 'Dieses detection using Image classification & Deep learning', 'Machine Learning, OpenCV', 'Prof. Rupali sawant', '9', '5', '9', '4', '28', '4', '18', '5', '4', '5', '38', '10', '8', '9', '27', '81')]

In [14]:
domains = df['Domain'].str.split(',').explode().str.strip()

In [15]:
domains_counts = domains.value_counts()
domains_counts

Domain
Machine Learning    209
Web Development     129
OpenCV               66
App Development      39
NLP                  30
Web Scraping         15
Blockchain           12
IoT                   6
Name: count, dtype: int64

In [23]:
def get_branch(uid):
    fifth_digit = str(uid)[4]
    if fifth_digit == '3':
        return 'COMPS'
    elif fifth_digit == '6':
        return 'AIML'
    else:
        return 'DS'

In [24]:
df['Branch'] = df['UID'].apply(get_branch)
branch_domain_counts = (
    df['Domain'].str.split(',').explode().str.strip()
    .groupby(df['Branch'])
    .value_counts()
)
branch_domain_counts

Branch  Domain
AIML    Machine Learning    61
        Web Development     26
        OpenCV              16
        NLP                 12
        App Development      6
        IoT                  3
        Web Scraping         3
COMPS   Machine Learning    90
        Web Development     67
        App Development     27
        OpenCV              27
        NLP                  9
        Web Scraping         9
        Blockchain           6
        IoT                  3
DS      Machine Learning    58
        Web Development     36
        OpenCV              23
        NLP                  9
        App Development      6
        Blockchain           6
        Web Scraping         3
Name: count, dtype: int64

In [25]:
guide_domain_counts = (
    df['Domain'].str.split(',').explode().str.strip()
    .groupby(df['Project Guide'])
    .value_counts()
)

In [26]:
guide_domain_counts

Project Guide           Domain
Dr. Anant Nimkar        Machine Learning    15
                        Web Development      6
                        Blockchain           3
                        NLP                  3
                        OpenCV               3
                                            ..
Prof. Swapnali Kurhade  App Development      3
                        OpenCV               3
Prof. Varsha Hole       Machine Learning     9
                        NLP                  3
                        Web Development      3
Name: count, Length: 90, dtype: int64